<!-- header starts -->
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button> <a class="navbar-brand" href="/">Popcorn</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a>
                </li>
                <li><a href="/Home/About">About</a>
                </li>
                <li><a href="/Home/Contact">Contact</a>
                </li>
            </ul>
        </div>
        <button class="logoutBtn btn" [routerLink]="['/login']">Logout</button>
    </div>
  </div>
<!-- header ends -->

<!-- body starts -->
  <div id="appContainer" class="body-content">
    <router-outlet></router-outlet>
  </div>
<!-- body ends -->

  <!-- footer starts -->
  <footer class="navbar-fixed-bottom">
    <p> © 2018 - PopCorn feedback Application </p>
  </footer>
  <!-- footer ends -->

